@model House.Models.ProductTypes;
@{
    ViewData["Title"] = "Details";
}

<form>
    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-3">
                <input asp-for="Name" class="form-control" disabled/>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary w-25">Edit</a>
            <a asp-action="Index" class="btn btn-link btn-sm">Back to list</a>
        </div>
        </div>
</form>