@using House.Extensions
@model House.Models.ViewModel.ProductsViewModel
@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Name"></label>
            </div>
            <div class="col-3">
                <input asp-for="Products.Name" class="form-control"/>
            </div>
        </div>
        <span asp-validation-for="Products.Name" class="text-danger"></span>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Price"></label>
            </div>
            <div class="col-3">
                <input asp-for="Products.Price" class="form-control"/>
            </div>
        <span asp-validation-for="Products.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Image"></label>
            </div>
            <div class="col-3">
                <input type="file" name="files"/>
            </div>    
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductTypes"></label>
            </div>
            <div class="col-3">
                <select asp-for="Products.ProductTypesId" asp-items="Model.ProductTypes.ToSelectList(Model.Products.ProductTypesId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SpecialTags"></label>
            </div>
            <div class="col-3">
                <select asp-for="Products.SpecialTagsId" asp-items="Model.SpecialTags.ToSelectList(Model.Products.SpecialTagsId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.ShadeColor"></label>
            </div>
            <div class="col-3">
                <input  asp-for="Products.ShadeColor" class="form-control"/>
            </div>
            <span asp-validation-for="Products.ShadeColor" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Products.Available"></label>
            </div>
            <div class="col-3">
                <input type="checkbox" asp-for="Products.Available" class="form-control"/>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary"/>
            <a asp-action="Index" class="btn btn-link btn-sm">Back to List</a>
        </div>
    </div>
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}